<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title><%= @headers['title'] %></title>

    <meta name="author" content="<%= @headers['author'] %>">
    <meta name="copyright" content="<%= @headers['copyright'] %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1024, user-scalable=no">

    <link rel="stylesheet" href="build/upstage-deck-core/upstage-deck-core-min.css">
    <link rel="stylesheet" href="build/upstage-deck-crossfade/upstage-deck-crossfade-min.css">
    <link rel="stylesheet" href="build/upstage-prettify-css/upstage-prettify-min.css">

    <style>
      <%= content_for :css %>
    </style>
</head>

<body>

<div id="bd" class="deck-container">

    <div class="slide title">
        <p class="conf"><%= @headers['footer'] %></p>
        <h1><%= @headers['title'] %></h1>
        <p><%= @headers['author'] %></p>
    </div>
   
<%= @content %>

</div>

<script src="prettify.js"></script>
<script src="http://yui.yahooapis.com/3.13.0/build/yui/yui-min.js"></script>
<script>
    if (!window.YUI) {
        // Retry with a local URL.
        document.write('<script src="yui3/build/yui/yui.js"><\/script>');
        // Don't autodetect the base path (the CDN path didn't work).
        document.write('<script>YUI.config.base = "yui3/build/";<\/script>');
    }
</script>
<script>
    prettyPrint();
    YUI({
        modules: {
            "upstage": {
                fullpath: "build/upstage/upstage-min.js",
            }
        },
        debug: true,
        filter: "min"
    }).use(
        "upstage",
        function (Y) {
            // Upstage is a YUI widget.
            var deck = new Y.Upstage({
                srcNode: "#bd" // Where to find .slide elements.
            });

            // Upstage does not do much without plugins.
            // They are all optional. Use only what you need.
            deck.plug([
                Y.Plugin.UpstageKeyboard,
                Y.Plugin.UpstageBlank,
                Y.Plugin.UpstageGesture,
                Y.Plugin.UpstagePermalink
            ]);

            deck.render();

            if ("function" === typeof window.deckReady) {
                window.deckReady(deck, Y);
            }
        }
    );
</script>

</body>

</html>
