<!doctype html>

<title><%= @headers['title'] %></title>

<meta charset="utf-8">
<meta name="author" content="<%= @headers['author'] %>">
<meta name="copyright" content="<%= @headers['copyright'] %>">

<link rel="stylesheet" href="build/upstage-keynote-min.css" media="screen">

<style>
  <%= content_for :css %>
</style>

<body>

<div id="bd">

<div class="presentation">

    <div class="slide title">
        <h1><%= @headers['title'] %></h1>
        <p><%= @headers['author'] %></p>
    </div>
   
<%= @content %>

</div>

</div>

<div id="ft">
    <p class="credit">
        <%= @headers['footer'] %>
    </p>
</div>

<script src="yui3/build/yui/yui-min.js"></script>
<script src="build/upstage-min.js"></script>
<script src="build/lang/upstage-l10n.js"></script>
<script>
<%= content_for :js %>
;YUI({
    base : "yui3/build/"
}).use("upstage", "upstage-transition-fade", function (Y) {
    Y.Upstage.fire("start");
});
</script>

</body>
