<!doctype html>

<title><%= @headers['title'] %></title>

<meta charset="utf-8">
<meta name="author" content="<%= @headers['author'] %>">
<meta name="copyright" content="<%= @headers['copyright'] %>">

<link rel="stylesheet" href="s7/keynote.css" media="screen">

<style>
  <%= content_for :css %>
</style>

<body>

<div id="bd">

<div class="presentation">

    <div class="slide title">
        <h1><%= @headers['title'] %></h1>
        <p><%= @headers['author'] %></p>
        <p><%= @headers['copyright'] %></p>
    </div>
   
<%= @content %>

</div>

</div>

<div id="ft">
    <p>Powered by YUI 3.</p>
    <div id="nav">
        <a id="prev" href="#">back</a>
        <p id="currentSlide">0/0</p>
        <a id="next" href="#">next</a>
    </div>
    <p>
    <%= @headers['copyright'] %>
    </p>
</div>

<script src="yui3/build/yui/yui.js"></script>
<script src="s7/s7-slideshow.js"></script>
<script src="s7/s7-controls.js"></script>
<script src="s7/s7-keyboard.js"></script>
<script src="s7/s7-permalink.js"></script>
<script src="s7/s7-transition-fade.js"></script>
<script src="s7/s7.js"></script>
<script>
  <%= content_for :js %>
</script>

</body>
